<div class="overflow-hidden" id="zoom-wrapper">
<!-- HEADER / HERO SECTION -->
<header class="flex flex-col md:flex-row items-center justify-between px-8 max-w-7xl mx-auto overflow-hidden" id="zoom-out">
    <!-- Text Content -->
    <div class="max-w-xl space-y-6">
      <h2 class="text-3xl md:text-5xl font-bold leading-tight">
        Hi<br>
        I'm <span class="text-blue-600">Itokiana</span><br>
        a Fullstack Developer
      </h2>
      <p class="text-gray-600">
        I design modern, fast, and intuitive web applications — from robust backends to polished user interfaces.
Passionate about clean code and seamless user experiences.
      </p>
      <div class="flex gap-4">
        <a href="#" class="bg-black text-white px-6 py-3 rounded font-semibold hover:bg-gray-800 transition" (click)="onPopup()">Hire Me</a>
        <a href="#" class="bg-blue-600 text-white px-6 py-3 rounded font-semibold hover:bg-blue-700 transition">Experience</a>
      </div>
    </div>

    <!-- Image -->
    <div class="mt-10 md:mt-0">
      <img src="programmer.svg" alt="Programmeur" class="w-[50em] object-cover" />
    </div>
  </header>
</div>
<app-popup [show]="show" (close)="onPopup()"></app-popup>

<!-- SECTION ABOUT ME -->
<section id="about-me" class="min-h-[50vh] flex  justify-center px-8 opacity-0">
  <div class="max-w-3xl text-center space-y-6">
    <h1 class="text-4xl font-bold text-gray-800">About Me</h1>
    <h4 class="text-lg text-gray-600 font-semibold"><span class="font-semibold text-blue-600">Nom : </span>RABEONY Sitrakiniaina Itokiana</h4>
    <h4 class="text-lg text-gray-600 font-semibold"><span class="font-semibold text-blue-600">Email : </span>rabeitokiana&#64;gmail.com</h4>
    <h4 class="text-lg text-gray-600 font-semibold"><span class="font-semibold text-blue-600">Phone : </span>+261 34 80 848 38</h4>
    <h4 class="text-lg text-gray-600 font-semibold"><span class="font-semibold text-blue-600">State : </span>MADAGASCAR</h4>
  </div>
</section>
