<section class="px-8 py-12 max-w-7xl mx-auto">
    <h2 class="text-4xl font-bold text-gray-900 mb-10">Skills</h2>
    <p class="text-slate-400 mt-1">Hard Skills</p>

      <!-- Cards HardSkills grid -->
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">     
        <!-- Card -->
        <app-card-skill *ngFor="let skill of listHardSkills" [id]="skill.id" [skill]="skill.name"></app-card-skill>  
        
      </div>

      <p class="text-slate-400 mt-10">Soft Skills</p>

      <!-- Cards SoftSkills grid -->
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">     
        <!-- Card -->
        <app-card-skill *ngFor="let skill of listSoftSkills" [id]="skill.id" [skill]="skill.name"></app-card-skill>
        
      </div>
  </section>