<!-- <div class="bg-[#f3f3f3] text-gray-800"> -->
    <!-- NAVBAR -->
    <nav class="bg-[#1a1a1a] text-white px-8 py-4 flex items-center justify-between">
      <div class="text-2xl font-bold">
        <span class="text-blue-600">Ito</span>kiana
      </div>
      <ul class="hidden md:flex gap-8 text-sm font-medium">
        <li><a href="#" class="hover:text-blue-600">Portfolio</a></li>
        <li><a href="#" class="hover:text-blue-600">Skills</a></li>
        <li><a href="#" class="hover:text-blue-600">Expérience</a></li>
      </ul>
      <a href="#" class="bg-white text-black font-semibold px-4 py-2 rounded hover:bg-blue-600 hover:text-white transition-all">
        Contact Me
      </a>
    </nav>
  
    
  <!-- </div> -->
  
