<section class="px-8 sm:px-6 md:px-10 lg:px-20 xl:px-[17em]">
    <h2 class="text-4xl font-bold text-gray-900 mb-10">EXPERIENCE</h2>
  
    <!-- Bloc d'expérience -->
    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">Commune Urbaine D'Antananarivo</h3>
      <p class="text-gray-700 mt-1">Stage Développement Application Web IFPB(H3T++)</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> Angular TS, Laravel, git
      </p>
    </div>

    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">Commune Urbaine D'Antananarivo</h3>
      <p class="text-gray-700 mt-1">Stage Design and Development of Web Application Demande d'Audience</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> Angular TS, Laravel, git
      </p>
    </div>

    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">GIZ Madagascar</h3>
      <p class="text-gray-700 mt-1">Stage FrontEnd Development of the IFPB Simulator Web Application (Hetran'Trano)
        affécter CUA</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> Angular TS, git
      </p>
    </div>
  
    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">Big Project ISPM</h3>
      <p class="text-gray-700 mt-1">Building a Front Chat Web Application with React Technology</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> React JS/TS
      </p>
    </div>

    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">Paositra Malagasy</h3>
      <p class="text-gray-700 mt-1">Stage Design and Development of Application de Gestion des Imprimés
        Undergraduate Final Internship Report for the Bachelor's Degree,</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> C# .net,Microsoft SQL server 
      </p>
    </div>
  
    <div class="mb-8 border-b border-gray-300 pb-6">
      <h3 class="text-2xl font-semibold text-gray-900">Mini projet ISPM</h3>
      <p class="text-gray-700 mt-1">Web application for car sales</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span>CMS Prestashop
      </p>
    </div>
  
    <div class="mb-8">
      <h3 class="text-2xl font-semibold text-gray-900">Big Project ISPM</h3>
      <p class="text-gray-700 mt-1">Creation of 3D animation to raise awareness of environmental protection</p>
      <p class="mt-2 text-blue-700 font-medium">
        <span class="font-semibold">Techno :</span> Blender 3D
      </p>
    </div>
  </section>
